@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&family=Sofia+Sans:wght@300&display=swap');
div{
    max-width: 1600px;
    margin: 0 auto;
}
h1, h2{
    font-family: Oswald;
    text-align: center;
    color:white;
    
}

h3{
    font-family: Oswald; 
    text-align: center;  
    background-color: rgb(2, 59, 73);
    border-radius: 15px;
    color: white;
    margin-top: -1px;
}
#headername {
    background-color:rgb(2, 59, 73);
    border-radius: 15px;
    
    
}
#hickslaw{
    font-size: large;
    border-style:ridge;
    border-radius: 15px;
    grid-column: 1/2;
    margin: 20px;
}
#proximity{
    font-size: large;
    border-style:ridge;
    border-radius: 15px;
    grid-column: 2/3;
    margin: 20px;
    
}
#contrast{
    font-size: large;
    border-style:ridge;
    border-radius: 15px;
    grid-column: 3/4;
    margin: 20px;
    
    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
p, a{
    margin:15px;
    font-family: Roboto;
}
#foot{
    font-family: Oswald;
    text-align: center;
    color:white;
    background-color:rgb(2, 59, 73);
    border-radius: 15px;

}