@media only screen and (min-width: 35rem) {
    main{
        margin-left: 50px;
        display: grid;
       grid-template-columns: 1fr 1fr ;
        
    }
    #hickslaw{
       
        grid-column: 1/2;
        grid-row: 1/2;
        
    }
    #proximity{
        
        grid-column: 2/3;
        grid-row: 1/2;
        
        
    }
    #contrast{
       grid-row: 2/3;
        grid-column: 1/3;
        
    }

    #contrast img{
        width: 550px;
    }
   
}