@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&family=Sofia+Sans:wght@300&display=swap');
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

    main{
        display: block;
    }

    h1, h2{
        font-family: Oswald;
        text-align: center;
        color:white;
        
    }
    
    h3{
        font-family: Oswald; 
        text-align: center;  
        background-color: rgb(2, 59, 73);
        border-radius: 15px;
        color: white;
        margin-top: -1px;
    }
    #headername {
        background-color:rgb(2, 59, 73);
        border-radius: 15px;
        
        
    }
    #hickslaw{
        font-size: large;
        border-style:ridge;
        border-radius: 15px;
        margin: 20px;
    }

    #diorimg{
        width:300px;
    }
    #proximity{
        font-size: large;
        border-style:ridge;
        border-radius: 15px;
       
        margin: 20px;   
    }
    #proximity img{
        width: 300px;
    }
    #contrast{
        font-size: large;
        border-style:ridge;
        border-radius: 15px;
        margin: 20px; 
    }
    #contrast img{
        width: 300px;
    }
    p, a{
        margin:15px;
        font-family: Roboto;
    }
    #foot{
        font-family: Oswald;
        text-align: center;
        color:white;
        background-color:rgb(2, 59, 73);
        border-radius: 15px;
    
    }

    /*div{
        max-width: 1600px;
        margin: 0 auto;
    }
