@media only screen and (min-width: 64rem) {
    
    
    nav button {
       display: none;
    }
   
    nav ul#primaryNav {
       display: flex;
       justify-content: flex-start ;
       margin-left: 2vw;
       
    }
   
    nav ul li a {
       border: none;
       
    }
    nav ul lia {
        padding: 5rem 1rem;
    }
    
    main{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
        
    }
    main #hero{
        margin: 5px 5px;
      
        grid-column: 2/3;
        grid-row: 1/3;
        
    }
    
    main #newrelase {
        margin: 5px 5px;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    main #spotlight {
        margin: 5px 5px;
        height: 620px;
        grid-column: 3/4;
        grid-row: 1/4;
        display: grid;
        grid-template-columns: 1fr
        
    }
    main section div.spot1 {
       margin: 10px 10px;
       height: 180px;
       width: 180px;
        grid-column: 3/4;
        grid-row: 1/2;
    }
    main section div.spot2 {
        margin: 10px 10px;
        height: 180px;
        width: 180px;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    main section div.spot3 {
        display: inline;
        margin: 10px 10px;
        height: 180px;
        width: 180px;
        grid-column: 3/4;
        grid-row: 3/4;
    }
   
    main #event {
        margin: 5px 5px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
   main #wheather { 
    margin: 5px 5px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    main #join { 
        margin: 5px 5px;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    /*---------------Discover--------------*/
  
    #p1{
        margin-right: 200px;
        text-align: center;
    }
    picture{
        
        display: block;
        text-align: center;
    }
    #p1{
        text-align: center;
        margin-left: 150px;
        margin-right: -50px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: x-large;
    }
    #p2, #p3, #p4, #p5, #p6{
        margin-left: 200px;
        margin-bottom: 50px;
        font-size: larger;
    }
    #img1, #img2, #img3, #img4, #img5{
        margin-left: 200px;
        width: 900px;
        height: 750px;
        
        
    }
    #visitsdates{
        font-size: larger;
}
}

/*---------JOIN PAGE-----*/




#form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    

}
form fieldset.personalInfo{
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 20px;
    margin-right: 10px;
    margin-top: 100px;
}
form fieldset.membershipLevel{
    grid-column: 3/5;
    grid-row: 1/2;
    margin-left: 10px;
    margin-top: 100px;

   
    

}

form label.sbs{
    
    font-size: large;
    text-align: left;
    
    
}
#textArea{
    
grid-column: 3/5;
margin-left: 10px;



}
form input.submitBton{
    grid-column: 2/4;
    margin: 15px;
}
#joinformat{
    position: absolute;
    left: 570px;
    color:#0D3B66 ;
}
