@media only screen and (min-width: 35rem) {

    header {
        display: flex;
    }
   
    .headings {
     justify-content:left;
    }
    #facebook {
        height: 40px;
        width: auto;
        
    }
    #linkedin {
        height: 40px;
        width: auto;
    margin-right: 20px;
    }
    main{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main #hero{
        grid-column: 1/4;
        grid-row: 1/2;
        
    }
    main #newrelase {
        
        grid-column: 1/4;
        grid-row: 2/3;
    }
    main #spotlight {
        
        grid-column: 1/4;
        grid-row: 3/4;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        display: grid;
    }
    main section div.spot1 {
       margin: 10px 10px;
       height: 160px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    main section div.spot2 {
        margin: 10px 10px;
        height: 160px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    main #join { 
        display: inline;
        grid-column: 1/4;
        grid-row: 5/6;
    }
    main #event {
        
        grid-column: 1/3;
        grid-row: 6/7;
    }
   main #wheather { 
    margin-left: 10px;
        grid-column: 3/4;
        grid-row: 6/7;
       
    }
    footer .group1 {
        width:  100%;
        max-width: 1200px;
        margin:auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    
        }
        footer .group1 .box figure img {
            width:150px;
            
        
        }
        footer .group1 .box h2 {
            margin-bottom: 25px;
            font-size: 20px;
    
        }
        footer .group1 .box p{
            margin-bottom: 10px;
        }
         footer .group2 {
            padding: 15px 10px;
            text-align: Center;
         }
         footer .group3 {
            
            text-align: Center;
         }
         /*---------------Discover--------------*/
         #p1{
            margin-right: 200px;
            text-align: center;
        }
        picture{
            
            display: block;
            text-align: center;
        }
        #p1{
            text-align: center;
            margin-left: 70px;
            margin-right: -50px;
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: larger;
        }
        #p2, #p3, #p4, #p5, #p6{
            margin-left: 100px;
            margin-bottom: 50px;
            font-size: larger;
        }
            
            #img1, #img2, #img3, #img4, #img5{
                margin-left: 100px;
                width: 550px;
                height: 350px;
                
            
            }
            #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover{
        
                transition: transform .5s;
                box-shadow: 0 0 50px #333;
                
                transform: scale(1.1);
        }
        }
        
    