@media only screen and (min-width: 35rem) {

    header {
        display: flex;
    }
   
    .headings {
     justify-content:left;
    }
    #facebook {
        height: 40px;
        width: auto;
        
    }
    #linkedin {
        height: 40px;
        width: auto;
    margin-right: 20px;
    }
    main{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main #hero{
        grid-column: 1/4;
        grid-row: 1/2;
        
    }
    main #newrelase {
        
        grid-column: 1/4;
        grid-row: 3/4;
        background-color: #0D3B66;
        border: solid 5px #EE964B;
    }
    main #newrelase h4 {
        font-family: Roboto;
        color: yellow;
        font-size: larger;
        text-align: center;
    }
    main #newrelase p {
        font-family: Solid Lordina;
        color: white;
        font-size: larger;
        text-align: center;
    }
    main #spotlight {
        
        grid-column: 1/4;
        grid-row: 4/5;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        display: grid;
    }
    main section div.spot1 {
       margin: 10px 10px;
       height: 160px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    main section div.spot2 {
        margin: 10px 10px;
        height: 160px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    main section p.info{
        display:contents;
        margin-top: 0px;
        font-family: Lorina Solid;
        font-size: medium;
        color: #EE964B;
        text-align: center;
        
       }
       main section  p{
        margin-top: 0px;
        
        
       }
    main #join { 
        border: solid 5px #EE964B;
        display: inline;
        background-color: #0D3B66;
        grid-column: 1/4;
        grid-row: 5/6;
    }
    main #join a{ 
        margin-left: 35px;
    font-family: Roboto;
    font-size: x-large;
    color: white;
    text-decoration: double;
    background-color: #EE964B;
    border-radius: 5px;
    
    }
    main #join p{ 
        margin-top: 25px;
        font-family: Lorina solid;
        font-size: medium;
        color: white;
        text-decoration: double;
      
        }
        main #event{
            text-align: center;
            background-color: #0D3B66;
            grid-column: 1/3;
            grid-row: 6/7;
            border: solid 5px #EE964B;

        }
        main #event h2{
            font-family: roboto;
            color: yellow;
            font-size: large;

        }
        main #event h4{
            font-family: roboto;
            color: #EE964B;
            font-size: medium;

        }
        main #event h4{
            font-family: roboto;
            color: #EE964B;
            font-size: medium;

        }
        main #event p{
            font-family: roboto;
            color: white;
            font-size: medium;

        }
        main #wheather{
            text-align: center;
            background-color: #0D3B66;
            grid-column: 3/4;
            grid-row: 6/7;
            border: solid 5px #EE964B;

        }
   
    main #wheather h2 { 
        margin-left: 430px;
        
           
        }
        p.wind{
    
            margin-top: -10px;
            
            
        }
    footer .group1 {
        width:  100%;
        max-width: 1200px;
        margin:auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    
        }
        footer .group1 .box figure img {
            width:150px;
            
        
        }
        footer .group1 .box h2 {
            margin-bottom: 25px;
            font-size: 20px;
    
        }
        footer .group1 .box p{
            margin-bottom: 10px;
        }
         footer .group2 {
            padding: 15px 10px;
            text-align: Center;
         }
         footer .group3 {
            
            text-align: Center;
         }
         /*---------------Discover--------------*/
         #p1{
            margin-right: 200px;
            text-align: center;
        }
        picture{
            
            display: block;
            text-align: center;
        }
        #p1{
            text-align: center;
            margin-left: 70px;
            margin-right: -50px;
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: larger;
        }
        #p2, #p3, #p4, #p5, #p6{
            margin-left: 100px;
            margin-bottom: 50px;
            font-size: larger;
        }
            
            #img1, #img2, #img3, #img4, #img5{
                margin-left: 100px;
                width: 550px;
                height: 350px;
                
            
            }
            #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover{
        
                transition: transform .5s;
                box-shadow: 0 0 50px #333;
                
                transform: scale(1.1);
        }
        }
        
    