@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&family=Roboto:wght@500&display=swap');
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header {
    background-color: #FAF0CA;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
header figure.logo{
    float: left;
    margin: 0 2% 0 0;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Lorina  solid;
    font-size:x-small;
    margin-left: 10px;
}
#facebook {
    width: 20px;
    height: auto;
   
}
#linkedin {
    width: 20px;
    height: auto;
}
#icons {
    justify-content:center;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: 2px solid;
    font-family: Roboto;
    font-size: 2rem;
    color: #555;
    justify-items:flex-end;
}
nav {
    background-color: #FAF0CA;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #0D3B66;
    border-top: 1px solid  rgba(0,0,0,0.5);
}

#primaryNav a:hover{
 background-color: #0D3B66;
    color:#eee   
}
.date {
margin: 0.5rem;
border: 1px solid #bbb;
padding: 0.75rem;
background-color: #0D3B66;
font-family: Lorina solid;
color: #EE964B;
text-align: center;
margin-top: -1px;
}
#banner {
   
    font-family: Lorina solid;
    font-size: 30px;
    text-align: center;   
    
}
main{
    display:block;
}


main figure.heroImg img {
    width: 100%;
         
   }

main section{
   
    height: 200px;
    margin-top: 10px;
   
    padding:10px;
    font-family: Roboto;
}


main section div{
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 80px;
    margin-top: 10px;
    background-color: #eee;
    padding:10px;

}

main #wheather{
    background-color:#EE964B ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #wheather div{
    background-color:#EE964B ;
    border: none;
    font-size: 15px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}
#wheather h2{
    font-size: 15px;
    margin-top: 0%;
    margin-bottom: 0%;
}
main section div.spot3{
    display: none;
}
main #join {
    display: none;
}
footer {
    width: 100%;
    background-color: #FAF0CA;
    justify-content: center;
}
footer .group1{
    font-family: Lorina solid;
    text-align: center;
}
footer .group2 {
    font-family: Roboto;
    padding: 15px 10px;
    text-align: Center;
 }
 footer .group3 {
    font-family: Roboto;
    text-align: Center;
 }

 footer .box a{
    color: #0D3B66
 }

 footer .box a:hover {
    background-color: #0D3B66;
    color:#eee
}

nav ul li a:hover {
    background-color: #0D3B66;
    color:#eee
}

label input{
    width: 10px;
}






nav ul {display: none;}
nav ul.open {display: block;}

#hamburguerBton span:nth-child(1) {display: block;}
#hamburguerBton span:nth-child(2) {display: none;}

#hamburguerBton.open span:nth-child(1) {display: none;}
#hamburguerBton.open span:nth-child(2) {display: block;}

/* --------------------Discover page------------------*/

#pic1, #pic2, #pic3, #pic4, #pic5{
    display: block;
    text-align: center;
    
}
#p1{
    font-family: Lorina solid;
    margin-left: 5px;
    margin-right: 5px;

}
#p2, #p3, #p4, #p5, #p6{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    font-family: lorina solid;
    

}

#img1, #img2, #img3, #img4, #img5{
    width: 350px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
}
#visitsdates{
    text-align: center;
    font-family: Roboto;
    font-size: large;
    color:#FAF0CA;
    background-color: #0D3B66;
}

/*-----------joiin page ----------*/
#form{
    display: block;
}

form fieldset{
    margin: 2rem 0;
    border: 1px solid #0D3B66;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color:#0D3B66;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #0D3B66;
    font-size: 1rem;
}
form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #EE964B;
    border-radius: 5px;
    padding: .75rem;
    color: #EE964B;
    width: 100%;
    max-width: 20rem;
    background-color:#eee;
}


form label.sbs{
    display:block;
    padding: .75rem 0;
    font-size: small;
    color: #0D3B66;
    
}
form input.submitBton{
    border: none;
    background-color: #EE964B;
    color: #0D3B66;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width:  96%;
    max-width: 20rem;

}

form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}











